<link href="https://s3.amazonaws.com/mturk-public/bs30/css/bootstrap.min.css" rel="stylesheet" />
<section class="container" id="Other" style="margin-bottom:15px; padding: 10px 10px; font-family: Verdana, Geneva, sans-serif; color:#333333; font-size:0.9em;">
<div class="row col-xs-12 col-md-12"><!-- Instructions -->
<div class="panel panel-primary">
<div class="panel-heading"><strong>Instructions</strong></div>

<div class="panel-body">
<p>Please select the most <em>incoherent</em> of the two possibly choices.&nbsp; An incoherent text is one that does not follow logically. In a simple example, the text &quot;I am hungry because it is snowing&quot; is more <em>incoherent</em> than &quot;I am hungry because I didn&#39;t eat&quot;.</p>
</div>
</div>



<section>&nbsp;
<!--<form action="{{ '/handle_result' }}" method="post">-->
    <form action="{{ '/handle_result' }}" method="post">
<fieldset>
<p><label>1. a) Which text is more <em>incoherent</em>? Select only ONE of the following:</label></p>

<div class="radio"><label><input name="Answer1" required="" type="radio" value="1" />{{dict['Sample1_1']}}</label></div>

<div class="radio"><label><input name="Answer1" required="" type="radio" value="2" />{{dict['Sample1_2']}}</label></div>

<p><strong>b) Rate how <em>incoherent</em> your selection is relative to the alternate choice:</strong></p>

<div class="radio"><label><input name="FollowupAnswer1" required="" type="radio" value="0" />Equally <em>incoherent</em>, there is no difference in the incoherence of the texts</label></div>

<div class="radio"><label><input name="FollowupAnswer1" required="" type="radio" value="1" />A little more <em>incoherent</em>, but the difference is not obvious</label></div>

<div class="radio"><label><input name="FollowupAnswer1" required="" type="radio" value="2" />More <em>incoherent</em>, the selected text is more incoherent than the other choice</label></div>

<div class="radio"><label><input name="FollowupAnswer1" required="" type="radio" value="3" />Completely <em>incoherent</em>, the selected text is obviously incoherent</label></div>
</fieldset>
&nbsp;

<fieldset>
<p><label>2. a) Which text is more <em>incoherent</em>? Select only ONE of the following:</label></p>

<div class="radio"><label><input name="Answer2" required="" type="radio" value="1" />{{dict['Sample2_1']}}</label></div>

<div class="radio"><label><input name="Answer2" required="" type="radio" value="2" />{{dict['Sample2_2']}}</label></div>

<p><strong>b) Rate how <em>incoherent</em> your selection is relative to the alternate choice:</strong></p>

<div class="radio"><label><input name="FollowupAnswer2" required="" type="radio" value="0" />Equally <em>incoherent</em>, there is no difference in the incoherence of the texts</label></div>

<div class="radio"><label><input name="FollowupAnswer2" required="" type="radio" value="1" />A little more <em>incoherent</em>, but the difference is not obvious</label></div>

<div class="radio"><label><input name="FollowupAnswer2" required="" type="radio" value="2" />More <em>incoherent</em>, the selected text is more incoherent than the other choice</label></div>

<div class="radio"><label><input name="FollowupAnswer2" required="" type="radio" value="3" />Completely <em>incoherent</em>, the selected text is obviously incoherent</label></div>
</fieldset>
&nbsp;

<!--<fieldset>-->
<!--<p><label>3. a) Which text is more <em>incoherent</em>? Select only ONE of the following:</label></p>-->

<!--<div class="radio"><label><input name="Answer3" required="" type="radio" value="1" />{{dict['Sample3_1']}}</label></div>-->

<!--<div class="radio"><label><input name="Answer3" required="" type="radio" value="2" />{{dict['Sample3_2']}}</label></div>-->

<!--<p><strong>b) Rate how <em>incoherent</em> your selection is relative to the alternate choice:</strong></p>-->

<!--<div class="radio"><label><input name="FollowupAnswer3" required="" type="radio" value="0" />Equally <em>incoherent</em>, there is no difference in the incoherence of the texts</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer3" required="" type="radio" value="1" />A little more <em>incoherent</em>, but the difference is not obvious</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer3" required="" type="radio" value="2" />More <em>incoherent</em>, the selected text is more incoherent than the other choice</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer3" required="" type="radio" value="3" />Completely <em>incoherent</em>, the selected text is obviously incoherent</label></div>-->
<!--</fieldset>-->
<!--&nbsp;-->

<!--<fieldset>-->
<!--<p><label>4. a) Which text is more <em>incoherent</em>? Select only ONE of the following:</label></p>-->

<!--<div class="radio"><label><input name="Answer4" required="" type="radio" value="1" />{{dict['Sample4_1']}}</label></div>-->

<!--<div class="radio"><label><input name="Answer4" required="" type="radio" value="2" />{{dict['Sample4_2']}}</label></div>-->

<!--<p><strong>b) Rate how <em>incoherent</em> your selection is relative to the alternate choice:</strong></p>-->

<!--<div class="radio"><label><input name="FollowupAnswer4" required="" type="radio" value="0" />Equally <em>incoherent</em>, there is no difference in the incoherence of the texts</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer4" required="" type="radio" value="1" />A little more <em>incoherent</em>, but the difference is not obvious</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer4" required="" type="radio" value="2" />More <em>incoherent</em>, the selected text is more incoherent than the other choice</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer4" required="" type="radio" value="3" />Completely <em>incoherent</em>, the selected text is obviously incoherent</label></div>-->
<!--</fieldset>-->
<!--&nbsp;-->

<!--<fieldset>-->
<!--<p><label>5. a) Which text is more <em>incoherent</em>? Select only ONE of the following:</label></p>-->

<!--<div class="radio"><label><input name="Answer5" required="" type="radio" value="1" />{{dict['Sample5_1']}}</label></div>-->

<!--<div class="radio"><label><input name="Answer5" required="" type="radio" value="2" />{{dict['Sample5_2']}}</label></div>-->

<!--<p><strong>b) Rate how <em>incoherent</em> your selection is relative to the alternate choice:</strong></p>-->

<!--<div class="radio"><label><input name="FollowupAnswer5" required="" type="radio" value="0" />Equally <em>incoherent</em>, there is no difference in the incoherence of the texts</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer5" required="" type="radio" value="1" />A little more <em>incoherent</em>, but the difference is not obvious</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer5" required="" type="radio" value="2" />More <em>incoherent</em>, the selected text is more incoherent than the other choice</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer5" required="" type="radio" value="3" />Completely <em>incoherent</em>, the selected text is obviously incoherent</label></div>-->
<!--</fieldset>-->
<!--&nbsp;-->

<!--<fieldset>-->
<!--<p><label>6. a) Which text is more <em>incoherent</em>? Select only ONE of the following:</label></p>-->

<!--<div class="radio"><label><input name="Answer6" required="" type="radio" value="1" />{{dict['Sample6_1']}}</label></div>-->

<!--<div class="radio"><label><input name="Answer6" required="" type="radio" value="2" />{{dict['Sample6_2']}}</label></div>-->

<!--<p><strong>b) Rate how <em>incoherent</em> your selection is relative to the alternate choice:</strong></p>-->

<!--<div class="radio"><label><input name="FollowupAnswer6" required="" type="radio" value="0" />Equally <em>incoherent</em>, there is no difference in the incoherence of the texts</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer6" required="" type="radio" value="1" />A little more <em>incoherent</em>, but the difference is not obvious</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer6" required="" type="radio" value="2" />More <em>incoherent</em>, the selected text is more incoherent than the other choice</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer6" required="" type="radio" value="3" />Completely <em>incoherent</em>, the selected text is obviously incoherent</label></div>-->
<!--</fieldset>-->
<!--&nbsp;-->

<!--<fieldset>-->
<!--<p><label>7. a) Which text is more <em>incoherent</em>? Select only ONE of the following:</label></p>-->

<!--<div class="radio"><label><input name="Answer7" required="" type="radio" value="1" />{{dict['Sample7_1']}}</label></div>-->

<!--<div class="radio"><label><input name="Answer7" required="" type="radio" value="2" />{{dict['Sample7_2']}}</label></div>-->

<!--<p><strong>b) Rate how <em>incoherent</em> your selection is relative to the alternate choice:</strong></p>-->

<!--<div class="radio"><label><input name="FollowupAnswer7" required="" type="radio" value="0" />Equally <em>incoherent</em>, there is no difference in the incoherence of the texts</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer7" required="" type="radio" value="1" />A little more <em>incoherent</em>, but the difference is not obvious</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer7" required="" type="radio" value="2" />More <em>incoherent</em>, the selected text is more incoherent than the other choice</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer7" required="" type="radio" value="3" />Completely <em>incoherent</em>, the selected text is obviously incoherent</label></div>-->
<!--</fieldset>-->
<!--&nbsp;-->

<!--<fieldset>-->
<!--<p><label>8. a) Which text is more <em>incoherent</em>? Select only ONE of the following:</label></p>-->

<!--<div class="radio"><label><input name="Answer8" required="" type="radio" value="1" />{{dict['Sample8_1']}}</label></div>-->

<!--<div class="radio"><label><input name="Answer8" required="" type="radio" value="2" />{{dict['Sample8_2']}}</label></div>-->

<!--<p><strong>b) Rate how <em>incoherent</em> your selection is relative to the alternate choice:</strong></p>-->

<!--<div class="radio"><label><input name="FollowupAnswer8" required="" type="radio" value="0" />Equally <em>incoherent</em>, there is no difference in the incoherence of the texts</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer8" required="" type="radio" value="1" />A little more <em>incoherent</em>, but the difference is not obvious</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer8" required="" type="radio" value="2" />More <em>incoherent</em>, the selected text is more incoherent than the other choice</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer8" required="" type="radio" value="3" />Completely <em>incoherent</em>, the selected text is obviously incoherent</label></div>-->
<!--</fieldset>-->
<!--&nbsp;-->

<!--<fieldset>-->
<!--<p><label>9. a) Which text is more <em>incoherent</em>? Select only ONE of the following:</label></p>-->

<!--<div class="radio"><label><input name="Answer9" required="" type="radio" value="1" />{{dict['Sample9_1']}}</label></div>-->

<!--<div class="radio"><label><input name="Answer9" required="" type="radio" value="2" />{{dict['Sample9_2']}}</label></div>-->

<!--<p><strong>b) Rate how <em>incoherent</em> your selection is relative to the alternate choice:</strong></p>-->

<!--<div class="radio"><label><input name="FollowupAnswer9" required="" type="radio" value="0" />Equally <em>incoherent</em>, there is no difference in the incoherence of the texts</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer9" required="" type="radio" value="1" />A little more <em>incoherent</em>, but the difference is not obvious</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer9" required="" type="radio" value="2" />More <em>incoherent</em>, the selected text is more incoherent than the other choice</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer9" required="" type="radio" value="3" />Completely <em>incoherent</em>, the selected text is obviously incoherent</label></div>-->
<!--</fieldset>-->
<!--&nbsp;-->

<!--<fieldset>-->
<!--<p><label>10. a) Which text is more <em>incoherent</em>? Select only ONE of the following:</label></p>-->

<!--<div class="radio"><label><input name="Answer10" required="" type="radio" value="1" />{{dict['Sample10_1']}}</label></div>-->

<!--<div class="radio"><label><input name="Answer10" required="" type="radio" value="2" />{{dict['Sample10_2']}}</label></div>-->

<!--<p><strong>b) Rate how <em>incoherent</em> your selection is relative to the alternate choice:</strong></p>-->

<!--<div class="radio"><label><input name="FollowupAnswer10" required="" type="radio" value="0" />Equally <em>incoherent</em>, there is no difference in the incoherence of the texts</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer10" required="" type="radio" value="1" />A little more <em>incoherent</em>, but the difference is not obvious</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer10" required="" type="radio" value="2" />More <em>incoherent</em>, the selected text is more incoherent than the other choice</label></div>-->

<!--<div class="radio"><label><input name="FollowupAnswer10" required="" type="radio" value="3" />Completely <em>incoherent</em>, the selected text is obviously incoherent</label></div>-->
<!--</fieldset>-->
&nbsp;
<style type="text/css">fieldset { padding: 10px; background:#fbfbfb; border-radius:5px; margin-bottom:5px; }
</style>
        <p class = "text-center">
            <input id = "submitButton" class="btn btn-primary" value="Submit" type="submit">
        </p>
    </form>
</section>



</div>
</section>
