{% extends "layout.html" %}

{% block content %}
    <h1>Create your account</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>

        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}
        </p>

        <p>{{ form.submit() }}</p>

        <!--<h3>Already have an account?</h3>-->


    </form>






{% endblock %}
